body, html {
    height: 100%;

    line-height: 1.2;
	overflow:visible;


}


h1,h2,h3,h4,h5,h6,p,a{

  font-family: 'Gotham Pro Black';
}

.home-mainSection
{
  width: 100%;
  min-height: 600px;
  height: auto;
  padding-bottom: 15px;
}

.home-mainSection-content
{
  text-align: center;
  vertical-align: middle;
  line-height: 3;
  padding-top: 150px;
  font-family: GothProReg;
  color: white;
}

.home-mainSection-content h3
{
  margin-bottom: 55px;
  font-size: 65px;
  margin-top: 50px;
  font-family: century gothic;
  font-weight: bold;
}

.home-mainSection-content h2
{
  font-size: 26px;
  margin-bottom: 68px;
}

.home-mainSection-buttons-center
{
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.home-mainLink
{
  text-align: center;
  font-size: 26px;
  color: white;
  padding: 20px;
  border: 2px #e87892 solid;
  border-radius: 30px;
  transition: all 0.4s ease;

}

.home-mainLink:hover
{
  text-decoration: none;
  color: White;
  background: #e87892;
  border: 2px #e87892 solid;

  transition: all 0.4s ease;

}

.home-arrow
{
  margin-top: 25px;
  width: 50px;
}

.home-arrow-link
{
  max-width: 75px;
  display: table;
  margin: auto;
}
.greetings
{
   text-align: center;
   color: #969696;
   font-weight: normal;
   font-size: 20px;
   font-family: 'Gotham Pro';
   padding-top: 50px;
}
.home-About-head
{
  text-align: center;
  color: #424146;
  font-size: 35px;
  font-family: 'Gotham Pro';
  line-height: 1.5;
}

.home-underabout
{
  border-bottom: 4px #ea0e4f  solid;
  padding-bottom: 7px;
}

.home-about-para
{
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 50px;
  max-width: 450px;
  text-align: center;
  display: table;
  margin-left: auto;
  font-weight: normal;
  margin-right: auto;
  line-height: 2;
  font-family: 'Gotham Pro';
  color: #969696;

}

.home-about-mainLink
{
  text-align: center;
  font-size: 15px;
  color: white;
  padding: 15px;
  border: 2px white solid;
  border-radius: 10px;
  background: #da0847;
  transition: all 0.4s ease;

}

.home-about-mainLink:hover
{
  color: white;
  background: #c3083f;
  transition: all 0.4s ease;


}

.home-graphic-design
{

  text-align: center;
  min-height: 250px;
  font-family: 'Gotham Pro';
  padding-top: 25px;
  font-weight: 300;
  margin-top: 25px;
}

.home-graphic-design h3
{
  font-weight: 600;
  font-family: 'Gotham Pro';
  color: #423f3f;
}

.home-graphic-design p
{
  color: #423f3f;
  font-family: 'Gotham Pro';
  line-height: 2;
  max-width: 305px;
  text-align: center;
  display: table;
  margin: auto;
  font-weight: bold;
  padding-bottom: 25px;
}

.home-greeting-img
{
  padding-top: 50px;
  width: 500px;
  max-width: 90%;
}

.home-main-content-section
{
  width: 100%;
    background:#f8f8f8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    margin-top: 50px;
}

.home-main-content-section .fa, .fas
{
  color: navajowhite;
  font-weight: 900;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 75px;
}

.home-speakers-section
{
  padding-top: 20px;
}

.home-speakers-section h2
{
  color: #5c5d5e;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: century gothic;
}

.speaker-img
{
  max-width: 200px;
  display: table;
  margin: auto;
  margin-bottom: 25px;
}
.home-logo
{
    max-width: 110px;
    position: relative;
    bottom: 0px;
}

.specialfont
{
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
}

footer a
{
  color: white;
}


footer a:hover
{
  color: white;
}


.arabic-fonts
{
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
}

.arabic-fonts-slim
{
  font-family: 'Cairo', sans-serif;

}
.main-content-icons
{
  max-width: 150px;
  margin-bottom: 10px;
}
